.job-title {
  color: #e998a2 !important;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.job-date {
  font-size: 12px;
  line-height: 14px;
}
.card-style{
   border-bottom: 1px solid #c4c4c4;
   background: transparent !important;
}