.card-alert {
  background: transparent !important;
  border: 2px solid #ff3d00 !important;
}
.label-desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.label-msg{
    color:#EA99A3
    ;
}