.title-job-details {
  font-weight: 700 !important;
  font-size: 30px !important;
  line-height: 35px !important;
}
.btn-apply {
  background: #ea99a3 !important;
  border-radius: 3px !important;
  border: #ea99a3 !important;
}
.btn-profile {
  border-radius: 3px !important;
  border: 1px solid #ea99a3 !important;
  color: #ea99a3 !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 19px !important;
}
.card-job {
  background: transparent;
  border: none;
}
